In [1]:
my_list = [0,1,2,3,4,5]
for i in my_list[::2]:
    print(i)

0
2
4

In [2]:
my_list = [0,1,2,3,4,5]
for i in my_list[1::2]:
    print(i)

1
3
5

In [3]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print('数値：'+str(i))
    if i == 3:
        print(i)
        break

数値：0
数値：1
数値：2
数値：3
3

In [4]:
for i in my_list:
    if i != 3:
        print('３以外'+str(i))
        continue
    print(i)

３以外0
３以外1
３以外2
3
３以外4
３以外5

In [5]:
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [6]:
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [7]:
for i in my_list:
    if i <3 or i > 3:
        print(i)

0
1
2
4
5

In [10]:
for i in my_list:
    if i >=2 and i <= 4:
        print(i)

2
3
4

In [23]:
for i in my_list:
    if i < 2 or i > 4:
            continue
    print(i)

2
3
4

In [24]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [27]:
for i in my_list:
    if i !='tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [28]:
my_list_6 = []
for i in my_list:
    if len(i) >= 6:
        my_list_6.append(i)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [36]:
my_list = [0, 1, 2, 3, 4, 5,]
for i in my_list:
    for i == (sum(my_list)):
        print(i)

SyntaxError: invalid syntax (<ipython-input-36-1b9f8848b4ba>, line 3)

In [37]:
my_list = [0,1,2,3,4,5,]
my_sum = 0 
for i in my_list:
    my_sum(i)
    print(i)

TypeError: 'int' object is not callable