In [1]:
my_list = [0,1,2,3,4,5]
for i in my_list[::2]:
    print(i)

0
2
4

In [2]:
my_list = [0,1,2,3,4,5]
for i in my_list[1::2]:
    print(i)

1
3
5

In [3]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print('数値：'+str(i))
    if i == 3:
        print(i)
        break

数値：0
数値：1
数値：2
数値：3
3

In [4]:
for i in my_list:
    if i != 3:
        print('３以外'+str(i))
        continue
    print(i)

３以外0
３以外1
３以外2
3
３以外4
３以外5

In [5]:
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [6]:
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [7]:
for i in my_list:
    if i <3 or i > 3:
        print(i)

0
1
2
4
5

In [10]:
for i in my_list:
    if i >=2 and i <= 4:
        print(i)

2
3
4

In [23]:
for i in my_list:
    if i < 2 or i > 4:
            continue
    print(i)

2
3
4

In [24]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [27]:
for i in my_list:
    if i !='tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [28]:
my_list_6 = []
for i in my_list:
    if len(i) >= 6:
        my_list_6.append(i)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [36]:
my_list = [0, 1, 2, 3, 4, 5,]
for i in my_list:
    for i == (sum(my_list)):
        print(i)

SyntaxError: invalid syntax (<ipython-input-36-1b9f8848b4ba>, line 3)

In [37]:
my_list = [0,1,2,3,4,5,]
my_sum = 0 
for i in my_list:
    my_sum(i)
    print(i)

TypeError: 'int' object is not callable

In [1]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k % 2 == 1:
        print(k)

1
3
5

In [2]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        print(k)

3

In [3]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k != 3:
        print(k)

0
1
2
4
5

In [7]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k >= 2 and k <= 4:
        print(k)

2
3
4

In [9]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    if k =='okinawa':
        print(k)

okinawa

In [11]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    if k !='tokyo':
        print(k)

okinawa
osaka
fukuoka
hokkaido

In [13]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list_6 = []
for k in my_list:
    if len(k) >= 6:
        my_list_6.append(k)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [14]:
my_list = [0,1,2,3,4,5]
a = 0
for k in my_list:
    a += k
print(a)

15

In [18]:
my_list = [0,1,2,3,4,5]
a = 0
for k in my_list:
    if k % 2 == 0:
        a += k
print(a)

6

In [20]:
for k in range(11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for k in range(11):
    if k == 4:
        break
    print(k)

0
1
2
3

In [23]:
for k in range(11):
    if k == 3:
        continue
    print(k)

0
1
2
4
5
6
7
8
9
10

In [24]:
my_str = 'okinawa'
for s in my_str:
    print(s)

o
k
i
n
a
w
a

In [38]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    for m in k:
        print(m)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [39]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    print(k.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [40]:
a = 0
while a < 11:
    if a == 5:
        break 
    print(a)
    a += 1

0
1
2
3
4

In [41]:
f = open('Hello.txt','w')
f.write('Hello!!')
f.close()

In [43]:
f = open('Hello.txt','r')
print(f.read())
f.close()

In [44]:
with  open('HelloPython.txt','w') as f:
    f.write('HelloPythin!')

In [ ]:
my_list = []
with open('HelloPython.txt','r')as f:
    my_list